body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.text-navbar {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;

}

.header-text {
    display: flex;
    gap: 10px;
    margin-right: 200px;


}

.login-container {
    display: flex;
    gap: 10px;

}

.login-button {
    border-radius: 5px;
    background: fixed;
    color: #fff;
    border: none;
}

.join-button {
    border-radius: 5px;
    font-size: 14px;
    width: 130px;
    height: 50px;
    background-color: rgb(0, 179, 255);
    color: #fff;
    border: none;
}

.backgroud-color {
    background-color: #262a42;
    color: #fff;
}

.welcome {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: rgb(0, 179, 255);

}

.welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.welcome-text-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    columns: #fff;
}

.information-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;

}

.first-button {
    border-radius: 5px;
    font-size: 12px;
    width: 150px;
    height: 50px;
    background-color: rgb(0, 179, 255);
    color: #fff;
    border: none;

}

.second-button {
    border-radius: 5px;
    font-size: 12px;
    width: 150px;
    height: 50px;
    color: rgb(0, 179, 255);
    border: solid 2px;
    background-color: #262a42;
}

.front-page {
    width: 100%;
    height: 550px;
    margin-top: 160px;
    gap: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.front-page-footer {
    border: solid 1px #fff;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 360px;
    height: 360px;

}

.front-page-footer-first {
    width: 100px;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.135);
    border: solid 1px rgba(255, 0, 0, 0.128);
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 40px;
}

.front-page-footer-icon {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 300;
    color: rgb(255, 102, 0);
    display: flex;
    justify-content: center;
}

.front-page-footer-title {
    margin-left: 40px;
    color: black;

}

.front-page-paragraph {
    margin-left: 40px;
    width: 240px;
    opacity: 0.7;
}

.front-page-footer-line {
    border: none;
    height: 4px;
    width: 70px;
    background-color: red;
    margin-left: 40px;
}

.front-page-footer-items {
    background-color: white;
    height: 362px;
    width: 362px;


}


.front-page-footer-second {
    width: 100px;
    height: 110px;
    background-color: rgba(25, 240, 5, 0.304);
    border: solid 1px rgba(0, 255, 60, 0.26);
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 40px;
}

.front-page-footer-second-icon {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 40px;
    font-weight: 300;
    color: rgb(23, 138, 0);
}



.front-page-third {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 179, 255);
    border: 1px solid cyan;
    width: 360px;
    height: 360px;
}

.front-page-third-cube {
    width: 100px;
    height: 110px;
    background-color: #fff;
    border: solid 1px #fff;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 40px;
}

.front-page-third-cotainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 40px;
    font-weight: 300;
    color: rgba(249, 249, 249, 0.928)
}

.front-page-footer-third-title {
    margin-left: 40px;
    color: white;
}

.front-page-paragraph {
    width: 240px;
    color: black;
    margin-left: 40px;
}

.front-page-paragraph1 {
    width: 240px;
    color: white;
    margin-left: 40px;
}

.front-page-footer-line2 {
    border: none;
    height: 4px;
    width: 70px;
    background-color: #fff;
    margin-left: 40px;
}

.front-page-footer-line3 {
    border: none;
    height: 4px;
    width: 70px;
    background-color: #fff;
    margin-left: 40px;
}

.second-page-container {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
    width: 1440px;
    height: 715px;

}

.first-container {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 40px;
    margin-left: 90px;
}

.second-page-line {
    height: 8px;
    width: 96px;
    background-color: red;
    margin-right: 570px;
    display: flex;
}

.first-paragraph-container {

    margin-top: 40px;


}

.learn-container {
    color: rgb(0, 179, 255);
    border-radius: 10px;
    background: fixed;
    border: none;
    margin-right: 570px;
    margin-top: 50px;
    font-size: 13px;
}

.first-header-container {

    font-size: 50px;
}

.second-container {
    width: 100%;
    height: 300px;

}

.third-page-text {
    color: rgb(0, 179, 255);
    font-size: 10px;
    margin-bottom: 0;

}

.third-page {
    margin: 77px;
}

.third-pararaph-p {
    color: rgba(131, 130, 130, 0.611);
}

.shoping-cards {
    margin: 77px;
    display: flex;
    justify-content: space-evenly
}

.card1 {
    position: relative;
    display: inline-block;
}

.icon-wrapper1 i {
    font-size: 15px;
    background-color: #fff;
    border: solid 5px #fff;
    border-radius: 20px;

}

.icon-wrapper1 {
    position: absolute;
    padding-inline-start: 57px;
    bottom: 45px;
}

.icon-wrapper2 {
    position: absolute;
    padding-inline-start: 97px;
    bottom: 45px;
}

.icon-wrapper2 i {
    font-size: 15px;
    background-color: #fff;
    border: solid 5px #fff;
    border-radius: 20px;
}

.icon-wrapper3 {
    position: absolute;
    padding-inline-start: 137px;
    bottom: 45px;
}

.icon-wrapper3 i {
    font-size: 15px;
    background-color: #fff;
    border: solid 5px #fff;
    border-radius: 20px;
}

.sale-div {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 0, 0, 0.858);
    border: solid 1px rgba(255, 0, 0, 0.858);
    border-radius: 5px;
    position: absolute;
    font-weight: 900;
    display: flex;
    text-align: start;
    align-items: center;
    padding-inline-start: 137px;
    bottom: 250px;
  
}

.sale-div p{
   left: 40px;
    
}

